{{ partial "comment-separator.html" dict }}
<div class="site-footer">
  <div class="footer-container">
    <div class="footer-columns">
      {{ range .Site.Data.footer.sections }}
      <div class="footer-column">
        <ul class="footer-links">
          <li class="footer-section-title">{{ .title }}</li>
          {{ range .links }}
          <li class="footer-link-item">
            <a
              href="{{ if .external }}{{ .url }}{{ else }}{{ absURL .url }}{{ end }}"
              {{
              if
              .external
              }}target="_blank"
              {{
              end
              }}
              title="{{ .name }}"
              >{{ .name }}</a
            >
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
  </div>
</div>
