<script type="application/ld+json">
  {
      "@context" : "http://schema.org",
      "@type" : "BlogPosting",
      "mainEntityOfPage": {
           "@type": "WebPage",
           "@id": "{{ .Site.BaseURL }}"
      },
      "articleSection" : "{{ .Section }}",
      "name" : "{{ .Title }}",
      "headline" : "{{ .Title }}",
      {{ if .IsHome -}}
      "description" : "{{ .Site.Params.description | plainify }}",
      {{- else -}}
      "description" : "{{ default .Summary .Description | plainify }}",
      {{- end }}
      "inLanguage" : "en-UK",
      {{ if .Params.authors }}"author" : {
        "@type": "Person",
        "name": "{{ index .Params.authors 0 }}"
      },
      "creator" : "{{ index .Params.authors 0 }}",
      "accountablePerson" : "{{ index .Params.authors 0 }}",{{ else }}"author" : {
        "@type": "Organization", 
        "name": "{{ .Site.Params.publisher }}"
      },
      "creator" : "{{ .Site.Params.publisher }}",
      "accountablePerson" : "{{ .Site.Params.publisher }}",{{ end }}
      "publisher": {
        "@type": "Organization",
        "name": "{{ .Site.Params.publisher }}"
      },
      "copyrightHolder" : "{{ .Site.Params.copyrightHolder }}",
      "copyrightYear" : "{{ .Date.Format "2006" }}",
      "datePublished": "{{ .Date }}",
      "dateModified" : "{{ .Lastmod }}",
      "url" : "{{ .Permalink }}",
      "keywords" : [{{ if .Params.tags }}{{ range $i, $tag := .Params.tags }}{{ if $i }},{{ end }}"{{ $tag }}"{{ end }}{{ end }}]
  }
</script>
